html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.main-footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  background-color: #d8d8d8;
  color: #333;
}

.main-footer p {
  margin: 0;
  font-weight: 600;
}
