
/* Solo para login y registro */
body.auth-page {
  padding-top: 60px; /* Menos padding porque no hay buscador */
}
:root {
  --teal-color: #1bb7a0; /* El verde de la imagen */
  --button-color: #444c50; /* Gris oscuro del botón */
  --bg-gray: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--bg-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Franja verde superior */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: var(--teal-color);
  z-index: 0;
}

header {
  position: absolute;
  top: 15px;
  left: 20px;
  color: var(--teal-color);
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 1;
  color: #1BB7A0;
  background-color: #F0F0F0;
}

form {
  background-color: #ffffff;
  padding: 50px 40px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 340px;
  text-align: center;
  z-index: 1;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 30px;
  text-align: left; 
}

input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box; 
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #333;
}

p {
  margin-top: 25px;
  font-size: 0.9rem;
  color: #333;
}

a {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
}